@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  background-color: #d3cedf;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

#header-background-color {
  background-color: #d3cedf;
}

.header {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 8px;
}
.header-title {
  transition: transform 0.2s;
}
.header-title:hover {
  transform: scale(1.1);
}
.header-title a {
  font-size: 1.875rem;
  line-height: 56px;
  letter-spacing: 3px;
  color: #333333;
}
.header-site-menu {
  margin-left: auto;
}
.header-site-menu nav ul {
  display: flex;
  line-height: 56px;
  align-items: center;
}
.header-site-menu nav ul li {
  font-size: 1.375rem;
}
.header-site-menu nav ul li .parent-balloon .header-balloon {
  position: absolute;
  top: 30px;
  left: -28px;
  display: none;
  padding: 7px;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  color: white;
  background-color: #444444;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.header-site-menu nav ul li .parent-balloon:hover .header-balloon {
  position: absolute;
  top: 30px;
  left: -28px;
  display: none;
  padding: 7px;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  color: white;
  background-color: #444444;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 78px;
}
.header-site-menu nav ul li .parent-balloon:hover .header-balloon.second {
  position: absolute;
  top: 30px;
  left: -28px;
  display: none;
  padding: 7px;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  color: white;
  background-color: #444444;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  left: -12px;
  width: 48px;
}
.header-site-menu nav ul li + li {
  margin-left: 55px;
}
.header-site-menu .header-hamburger-menu {
  display: none;
  margin-left: auto;
}
.header-site-menu .header-hamburger-menu #open {
  font-size: 1.875rem;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}
.header .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 64px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.header .overlay #close {
  /* 親要素にposition: relative;をあえて指定しないでabsoluteを使うと，包含ブロックを基準に位置が決定される。すなわち，ウィンドウ幅全体に対して位置が決定される。 */
  /* よって，以下の指定はページ全体を基準に絶対値指定している。 */
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 2rem;
  cursor: pointer;
}
.header .overlay nav ul li {
  font-size: 1.375rem;
}
.header .overlay nav ul li + li {
  margin-top: 40px;
}
.header .overlay nav ul li a i {
  padding-right: 5px;
}
.header .overlay.show {
  opacity: 1;
  /* autoが初期値。基本的にはnoneかauto。 */
  pointer-events: auto;
}

/* メインコンテンツここから。*/
.wrapper .main-area {
  background-color: #f2d7d9;
  display: flex;
  padding: 50px 0;
}
.wrapper .main-area #left-panel {
  width: 30%;
  height: 580px;
  padding: 20px;
  /* 色指定。 */
  background-color: #748da6;
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset 0 0 5px 5px #66829e;
  display: none;
}
.wrapper .main-area #left-panel form .form-label {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 15px;
}
.wrapper .main-area #left-panel form .form-input {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #555555;
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
}
.wrapper .main-area #left-panel form .form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper .main-area #left-panel form .form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper .main-area #left-panel form .create-button {
  color: #fff;
  background-color: #00a690;
  margin-top: 15px;
  padding: 8px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper .main-area #left-panel form .create-button:focus {
  background-color: #00c4aa;
}
.wrapper .main-area #left-panel.open {
  display: block;
}
.wrapper .main-area .content {
  position: relative;
  flex-grow: 1;
  min-height: 300px;
}
.wrapper .main-area .content #left-panel-button {
  position: absolute;
  top: 127.74px;
  left: 0;
  cursor: pointer;
  height: 36px;
  color: #ffffff;
  background-color: #748da6;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 5px 5px #66829e;
}
.wrapper .main-area .content #left-panel-button i {
  display: inline-block;
  /* アイコンなのでfont-sizeで大きさ指定を行う。1.5×16px=24px。 */
  font-size: 1.5rem;
  /* 余白にてポジションの微調整。 */
  margin-right: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: transform 0.2s;
}
.wrapper .main-area .content.open {
  max-width: 68.7%;
}

.wrapper .main-area .content #left-panel-button.open i {
  transform: rotate(180deg);
}

.wrapper .main-area .content .content-area {
  width: 92%;
  margin: 0 4%;
  padding-bottom: 10px;
}

.wrapper .main-area .content .content-area .tabMenu {
  display: flex;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle {
  margin-left: 15px;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle a {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 8px 7px 5px;
  background-color: #9cb4cc;
  color: #333333;
  border-radius: 8px 8px 0 0;
  letter-spacing: 0.4rem;
  position: relative;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle a:hover i {
  transform: rotate(-360deg);
  transition: transform 0.5s;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle a:active i {
  transition: none;
  transform: none;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle.active a:hover i {
  transform: none;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle.active a {
  background-color: #748da6;
  color: #fff;
}

.wrapper .main-area .content .content-area .tabMenu .planListTitle a .badge {
  position: absolute;
  top: -10px;
  left: calc(100% - 10px);
  display: inline-block;
  width: auto;
  border-radius: 50%;
  background-color: #ff4a52;
  color: white;
  padding: 0 4px;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: normal;
  z-index: 10;
}

.wrapper .main-area .content .content-area .error-message {
  position: absolute;
  top: -42px;
  left: 62px;
  background-color: #ff4a52;
  color: #fffafb;
  padding: 5px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 3px;
  box-shadow: inset 0 0 5px 5px #ff4a60;
  transition: opacity 0.3s;
}

.wrapper .main-area .content .content-area .error-message.none {
  opacity: 0;
}

.wrapper .main-area .content .content-area .provisional {
  background-color: #748da6;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 3px;
}

.wrapper .main-area .content .content-area form {
  background-color: #748da6;
  color: #fff;
  padding: 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 3px;
}

.wrapper .main-area .content .content-area form input {
  width: 300px;
  background-color: #555555;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}

.wrapper .main-area .content .content-area form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.wrapper .main-area .content .content-area form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.wrapper .main-area .content .content-area form button {
  color: #fff;
  margin-left: 5px;
  font-size: 1.125rem;
  letter-spacing: 3px;
  transition: transform 0.2s;
}

.wrapper .main-area .content .content-area form button:not(.parent-balloon):hover {
  transform: scale(1.1);
}

.wrapper .main-area .content .content-area .tr .FirstAid form {
  background-color: #555555;
  background-color: #9cb4cc;
  padding: 0;
  letter-spacing: normal;
}

.wrapper .main-area .content .content-area .tr .FirstAid form button {
  font-size: 1rem;
  margin-left: 0;
}

.wrapper .main-area .content .content-area .tr .FirstAid form button #slashIconParent {
  display: block;
  margin-top: 1px;
  position: relative;
}

.wrapper .main-area .content .content-area .tr .FirstAid form button #slashIconParent #slashIcon {
  position: absolute;
  left: -2px;
  font-size: 0.875rem;
}

.wrapper .main-area .content .content-area .table {
  background-color: #748da6;
  color: #fff;
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 0 10px 10px;
}

.wrapper .main-area .content .content-area .table tbody tr {
  display: flex;
  background-color: #9cb4cc;
  border-radius: 4px;
  padding: 5px;
  letter-spacing: 2px;
}

.wrapper .main-area .content .content-area .table tbody tr + tr {
  margin-top: 10px;
}

.wrapper .main-area .content .content-area .table tbody .tr.detailOpen {
  border-radius: 4px 4px 0 0;
}

.wrapper .main-area .content .content-area .table tbody #planDetailRow {
  margin-top: 0;
  word-break: break-all;
  display: none;
  border-radius: 0 0 4px 4px;
  border-top: #ffffff solid 1px;
  line-height: 1.5;
  animation: 0.2s slideDown;
}

.wrapper .main-area .content .content-area .table tbody #planDetailRow td {
  white-space: pre-wrap;
}

.wrapper .main-area .content .content-area .table tbody #planDetailRow.detailOpen {
  display: block;
}

.wrapper .main-area .content .content-area .table tbody tr td {
  /* テキストの位置調整のため。フレックスにするが縦並びに変更し，主軸（縦軸）に対して中央寄せ。*/
  /* これにより，テキストがど真ん中に配置される形になる（微々たる変化，気にならなければ「display: block;」に戻してOK）。*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .main-area .content .content-area .table tbody tr td + td {
  margin-left: 45px;
}

.wrapper .main-area .content .content-area .table tbody tr #modalWindowOpen {
  margin-left: 0px;
}

.wrapper .main-area .content .content-area .table tbody tr .FirstAid {
  margin-right: 10px;
}

.wrapper .main-area .content .content-area .table tbody tr #planDetailButton {
  margin-left: auto;
  cursor: pointer;
}

.wrapper .main-area .content .content-area .table tbody .tr #planDetailButton i {
  transition: transform 0.2s;
}

.wrapper .main-area .content .content-area .table tbody .tr.detailOpen #planDetailButton i {
  transform: rotate(180deg);
}

.wrapper .main-area .content .content-area .table tbody tr td a {
  color: #fff;
}

.parent-balloon {
  position: relative;
}

.parent-balloon .balloon {
  position: absolute;
  top: -30px;
  left: -20px;
  display: none;
  padding: 7px;
  letter-spacing: normal;
  color: #444444;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #333333;
  pointer-events: none;
}

.parent-balloon .balloon::before {
  content: "";
  position: absolute;
  top: 97%;
  left: 20px;
  border: 6px solid transparent;
  border-top: 6px solid #ffffff;
}

.parent-balloon:hover .balloon {
  display: inline-block;
  width: 78px;
}

.wrapper .main-area .content .content-area .alt {
  background-color: #748da6;
  color: #fff;
}

.wrapper #to_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #333333;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.wrapper #to_top.scrolled {
  opacity: 1;
}

.wrapper #to_top i {
  font-size: 2rem;
}

.wrapper #AllplanDetailButton {
  position: fixed;
  bottom: 60px;
  right: 10px;
  color: #fff;
  background-color: #333;
  padding: 5.015px 6.9px 5.665px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.wrapper #AllplanDetailButton.scrolled {
  opacity: 1;
}

.wrapper #AllplanDetailButton i {
  font-size: 1.3rem;
}

.wrapper #sub-left-panel-button {
  position: fixed;
  bottom: 110px;
  right: 10px;
  color: #fff;
  background-color: #333;
  padding: 5.015px 8.2px 5.665px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.wrapper #sub-left-panel-button.scrolled {
  opacity: 1;
}

.wrapper #sub-left-panel-button i {
  font-size: 1.3rem;
  transition: transform 0.2s;
}

.wrapper #sub-left-panel-button.open i {
  transform: rotate(180deg);
}

.wrapper #mask {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

.wrapper #mask.hidden {
  display: none;
}

.wrapper #modalWindow {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  /* width，left，rightの全てがautoでなく（leftとrightは0），かつmargin-right，margin-leftがともにautoである場合には，左右のmarginが等しくなるようにmarginが設定される，らしい（CSSの仕様）。 */
  /* この際，topは左右と関係ないのでどのような値であっても問題なし。 */
  margin: 0 auto;
  z-index: 100;
  display: block;
}

.wrapper #modalWindow.hidden {
  display: none;
}

.wrapper #subModalWindow {
  background: #fff;
  width: 500px;
  height: 500px;
  padding: 8px;
  border-radius: 4px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  /* width，left，rightの全てがautoでなく（leftとrightは0），かつmargin-right，margin-leftがともにautoである場合には，左右のmarginが等しくなるようにmarginが設定される，らしい（CSSの仕様）。 */
  /* この際，topは左右と関係ないのでどのような値であっても問題なし。 */
  margin: 0 auto;
  z-index: 100;
  display: block;
}

.wrapper #subModalWindow.hidden {
  display: none;
}

.wrapper .main-area .content .content-area #subModalWindow form {
  padding-bottom: 10px;
  border-radius: 4px;
}

.wrapper .main-area .content .content-area #subModalWindow form#task-delete-form {
  background: transparent;
}

.wrapper .main-area .content .content-area #subModalWindow form button#task-delete {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.wrapper .main-area .content .content-area #subModalWindow .form-label {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 15px;
}

.wrapper .main-area .content .content-area #subModalWindow .form-input {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #555555;
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
  line-height: 1.5;
}

.wrapper .main-area .content .content-area #subModalWindow .form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.wrapper .main-area .content .content-area #subModalWindow .form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.wrapper .main-area .content .content-area #subModalWindow .form-input.textarea-input {
  height: 150px;
}

.wrapper .main-area .content .content-area #subModalWindow form #update-button {
  transition: none;
  margin-left: 0px;
  margin-top: 15px;
  letter-spacing: normal;
  background-color: #00a690;
  padding: 8px;
  border-radius: 4px;
}

.wrapper .main-area .content .content-area #subModalWindow form #update-button:hover {
  transform: none;
}

.wrapper .main-area .content .content-area #subModalWindow form #update-button:focus {
  background-color: #00c4aa;
}

.wrapper .main-area .content .content-area #subModalWindow td #task-delete-decoying {
  position: absolute;
  bottom: 18.2px;
  left: 150px;
  color: #fff;
  background-color: #ff4a52;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.125rem;
  cursor: pointer;
}

.wrapper .main-area .content .content-area #subModalWindow td #task-delete-decoying:focus {
  background-color: #ff7e85;
}

.wrapper .main-area .content .content-area #subModalWindow td #return-button {
  position: absolute;
  bottom: 18.2px;
  left: 290px;
  color: #fff;
  background-color: #555555;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.125rem;
  cursor: pointer;
}

.wrapper .main-area .content .content-area #subModalWindow td #return-button:focus {
  background: #8a8a8a;
}

.wrapper .main-area .content .content-area #subModalWindow .error-message {
  position: relative;
  top: 0;
  left: 0;
}

.wrapper .main-area .content .content-area #modalWindow div {
  display: flex;
}

.wrapper .main-area .content .content-area #modalWindow p {
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: #333;
}

.wrapper .main-area .content .content-area #modalWindow div span {
  display: block;
  margin-left: auto;
  padding: 6px;
  color: #333;
  background-color: #e8f2f0;
  border-radius: 4px;
  letter-spacing: normal;
  cursor: pointer;
}

.wrapper .main-area .content .content-area #modalWindow div form {
  padding: 0;
  background-color: #ff4a52;
  border-radius: 4px;
  margin-left: 14px;
}

.wrapper .main-area .content .content-area #modalWindow div form button {
  color: #fff;
  letter-spacing: normal;
  padding: 6px;
  font-size: 1rem;
  margin: 0;
}

.wrapper .main-area .content .content-area #modalWindow div form button:hover {
  transform: none;
}

.wrapper #modalWindowOpen {
  cursor: pointer;
}

.wrapper #success-msg {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 300px;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 1.375rem;
  text-align: center;
  color: #fff;
  background-color: #00a690;
  border-radius: 4px;
  z-index: 1000;
  transition: opacity 0.3s;
}

.wrapper #success-msg.none {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.wrapper #success-msg #success-msg-icon {
  font-size: 2rem;
}

.pagination {
  display: flex;
}

.pagination .page-item {
  margin-top: 10px;
}

.pagination .page-item + .page-item {
  margin-left: 15px;
}

.pagination .page-item .page-link {
  display: block;
  padding: 6px 8px;
  height: 100%;
  color: #555555;
}

.pagination .page-item .page-link:hover {
  border-bottom: #555555 solid 2px;
  padding-bottom: 4px;
}

.pagination .page-item#match .page-link {
  color: #fff;
  background-color: #555555;
  border-radius: 50%;
}

.pagination .page-item#match .page-link:hover,
.pagination .page-item#threeDots .page-link:hover,
.pagination .page-item .page-link#leftTriangle:hover,
.pagination .page-item .page-link#rightTriangle:hover {
  border-bottom: none;
}

#footer p {
  text-align: center;
  font-size: 1.375rem;
  line-height: 40px;
  color: #333333;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .header .header-site-menu nav ul {
    display: none;
  }
  .header .header-site-menu .header-hamburger-menu {
    display: block;
  }
}
